{% extends "global/template.twig" %}
{% block content %}
    <div class="row justify-content-center ">
        <div class="col-11">
            <div id="cars" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner text-center">
                    {% for row in carousel %}
                      <div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
                            <img class="d-block mx-auto img-fluid"  src="{{ base_url('assets/own/img/cars/carousel/'~ row ~'.jpg') }}" alt="Picture">
                      </div>
                    {% endfor %}
                </div>
                    <a class="carousel-control-prev" href="#cars" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#cars" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11 col-sm-11 col-xs-11">
            <div class="card mt-2 mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-11 col-xs-11">
                           <p class="h3">Aplica en linea</p>
                           <p class="text-muted ">¿Quieres un auto nuevo? inicia el proceso desde la comodidad de tu casa</p>
                           <p class="h3 text-right">Recibe ofertas</p>
                           <p class="text-muted text-right">Escoge los mejores autos y las ofertas de los mejores dealers de todo utah!</p>
                           <p class="h3">Concreta</p>
                           <p class="text-muted">Sal rodando y disruta del auto de tus sueños!</p>
                        </div>
                        <div class="col-md-6 col-sm-11 col-xs-11 align-self-end">
                            <img class="d-block mx-auto img-fluid mb-4" src="{{ base_url('assets/own/img/car.png') }}" alt="">
                            <a class="btn btn-success btn-block" href="{{ base_url('/Apply/one') }}">¡ Aplica ahora !</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>       
    <div class="row justify-content-center">
        <h4 class="h2 ml-4 mt-4 mb-4"> Ellos encontraron el auto de sus sueños.</h4>     
        <div class="col-md-11 col-sm-11 col-xs-12">
            <div class="row mb-4 justify-content-center">
                {% for row in testimonial %}
                    {% if loop.index <= 4 %}
                        <div class="col-md-3 col-sm-11 col-xs-11">
                            <div class="card m-2">
                                <img class="card-img-top img-fluid" src="{{ base_url('assets/own/img/cars/testimonials/'~ row.picture ~'.jpg') }}" alt="Card image cap">
                                <!-- <div class="card-body">
                                    <blockquote class="blockquote">
                                        <p class="mb-0">{{ row.text}}</p>
                                        <footer class="blockquote-footer">{{ row.name}}</footer>
                                    </blockquote>
                                </div> -->
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-11 col-sm-11 col-xs-12">
            <div class="row mb-4 justify-content-center">
                {% for row in testimonial %}
                    {% if loop.index > 4 %}
                        <div class="col-md-3 col-sm-11 col-xs-11">
                            <div class="card m-2">
                                <img class="card-img-top img-fluid" src="{{ base_url('assets/own/img/cars/testimonials/'~ row.picture ~'.jpg') }}" alt="Card image cap">
                                <!-- <div class="card-body">
                                    <blockquote class="blockquote">
                                        <p class="mb-0">{{ row.text}}</p>
                                        <footer class="blockquote-footer">{{ row.name}}</footer>
                                    </blockquote>
                                </div> -->
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!--
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="justify-content-center">
                <a class="btn btn-success btn-block" href="{{ base_url('/Apply/one') }}">¡ Aplica ahora !</a>
            </div>
        </div>
    </div>
    -->
{% endblock  %}