<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <!-- Metas -->
    <meta name="description" content="{{ config.description }}">
    <meta name="Keywords" content="{{ config.keywords }}" />
    <meta name="robots" content="{{ config.robots }}">  

    <!-- Meta: Open Graph protocol -->
    <meta property="og:site_name" content="{{ config.og_site_name }}">
    <meta property="og:title" content="{{ config.og_title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ base_url() }}" />
    <meta property="og:image" content="{{ base_url('assets/own/img/aeu.jpeg') }}" />
    <meta property="og:description" content="{{ config.og_description }}">
    <meta property="og:locale" content="{{ config.og_locale }}">
    <meta property="article:author" content="{{ config.og_author }}">

    <!-- Opengraph Facebook -->
    <meta property="fb:app_id" content="{{ config.fb_app_id }}">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:creator" content="">
    <meta name="twitter:url" content="{{ base_url() }}">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Styls -->
    <link rel="stylesheet" href="{{ base_url('assets/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ base_url('assets/@fortawesome/fontawesome-free/css/all.css') }}">
    <link rel="stylesheet" href="{{ base_url('assets/own/css/site.css') }}">


</head>
<body>
    <nav class="navbar navbar-light sticky-top bg-light bgColor">
        <a class="navbar-brand ml-4" href="{{ base_url() }}">
          <img src="{{ base_url('assets/own/img/aeu.jpeg')}}" width="150" height="85" alt="" loading="lazy">
        </a>
        {% if index  %}
            <a class="btn btn-success" href="{{ base_url('/Apply/one') }}">¡ Aplica ahora !</a>
        {% endif %}
    </nav>
    <main class="container-fluid">
        {% block content %}
        
        {% endblock content %}
        <footer class="mt-4">
            <hr class="mt-4">
            <div class="row mt-4 justify-content-center">
                <div class="col-11">
                    <p class="text-center">Copyright © 2020 AutosEnUtah. </p>
                </div>
            </div>
        </footer>
    </main>
    <!-- Scripts -->
    <script data-ad-client="ca-pub-4478552564412181" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script src="{{ base_url('assets/jquery/dist/jquery.js') }}"></script>
    <script src="{{ base_url('assets/@fortawesome/fontawesome-free/js/all.js') }}"></script>
    <script src="{{ base_url('assets/bootstrap/dist/js/bootstrap.bundle.js') }}"></script>
    <script src="{{ base_url('assets/own/js/site.js') }}"></script>
</body>
</html>